@model SudokuBasis.SudokuGame

@{
    ViewBag.Title = "Sudoku";
}

<h2>Sudoku</h2>

<script src="@Url.Content("~/Scripts/Sudoku.js")"></script>

<div class="row">
    <div class="col-md-4">
        <input type="button" class="btn-success" id="btnnewgame" value="Nieuw Spel" onclick="location.href='@Url.Action("NewGame", "Home")'" />
        <input type="button" class="btn-danger" id="btncheatgame" value="Valsspelen" onclick="location.href='@Url.Action("Hint", "Home")'" />
        <input type="button" class="btn-primary" id="btncheckgame" value="Controleer Spel" onclick="location.href='@Url.Action("Validate", "Home")'"/>
    </div>
</div>

<div class="row">
    <hr/>
</div>

@if (Model.IsCompleted()) {
    <script type="text/javascript">
        $("#btncheatgame").prop('disabled', true);
        alert("Gefeliciteerd! Je hebt de sudoku opgelost!");
    </script>
} else {
    <script type="text/javascript">
        $("#btncheatgame").prop('disabled', false);
        alert("Sudoku is nog niet correct");
    </script>
}

<div class="row">
    <div class="col-md-12">
        <table border="1" cellpadding="10">
            @{
                for (int i = 0; i < 81; i++) {
                    var x = (short)((i % 9) + 1);
                    var y = (short)((i / 9) + 1);
                    if (x == 1) {
                        @Html.Raw("<tr>")
                    }
                    var pos = new SudokuBasis.Position() {
                        X = x,
                        Y = y
                    };
                    Model.GetValue(pos);
                    pos.IsEditable = pos.Value == 0;
                    //Create unique id for hidden field
                    var id = String.Format("{0},{1}", pos.X, pos.Y);
                    @Html.Raw("<td align='center' width='80' height='80'>");
                    @Html.Raw("<input name='" + id + "' min-width='50px' class='form-control' type='text' value='" + pos.Value + "'/>");
                    @Html.Raw("</td>");
                    if (x == 9) {
                        @Html.Raw("</tr>")
                    }
                }
            }
        </table>
    </div>
</div>




















